body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f4f4;
  padding: 20px;
}

h1,
h2 {
  color: #630d16;
  text-align: center;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 10px;
}

form {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  background-color: #630d16;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

form button:hover {
  background-color: #82111d;
}

.cancel-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #777;
  text-decoration: none;
  font-size: 0.9rem;
}

.cancel-link:hover {
  text-decoration: underline;
}

.wine-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.wine-card {
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;

  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.wine-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.wine-card h3 {
  color: #630d16;
  margin: 10px 0;
}

.wine-card .vinarija {
  font-weight: normal;
  color: #666;
  font-style: italic;
  font-size: 0.9rem;
}

.wine-card .price {
  font-weight: bold;
  color: #d4af37;
  font-size: 1.2rem;
  margin: 10px 0;
}

.wine-card .wine-description {
  font-weight: normal;
  color: #444;
  font-size: 0.9rem;
  margin-bottom: 20px;
  flex-grow: 1;
  text-align: left;
}

.actions {
  display: flex;
  gap: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: auto;
}

.actions form {
  margin: 0;
  padding: 0;
  box-shadow: none;
  flex: 1;
}

.delete-btn {
  background-color: #a71d2a;
  padding: 8px;
  font-size: 0.8rem;
}

.edit-btn {
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
